*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
form {
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

body {
  padding: 60px 75px;
  background-color: #f5f7fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
  font-family: "Inter", sans-serif;

  background-image: url(/images/blobs.png), url(/images/blob\ 5.png);
  background-repeat: no-repeat;
  background-position:
    bottom 0 left 0,
    top 0 right 0;
  background-size: 25%;
  background-attachment: scroll;
}

section.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

section.start-menu > h1 {
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

section.start-menu > p {
  font-size: 1.6rem;
}

section.start-menu > button {
  margin-top: 1.133em;
  width: 95%;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 1.6rem;
  padding: 0.625em 1.09375em;
  border: 1px solid #4d5b9e;
  border-radius: 15px;
  cursor: pointer;
}

section.start-menu > button.active {
  opacity: 1;
}

section.start-menu > button:hover,
section.start-menu > button:focus {
  background-color: #232a50;
}

section.start-menu > button:active {
  background-color: #f5f7fb;
  color: #4d5b9e;
}

fieldset {
  border: none;
}

fieldset div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.radio-input {
  display: none;
}

.quiz form {
  min-height: calc(100vh - 120px);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.quiz form fieldset legend {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.941em;
  font-family: "Karla", sans-serif;
}

.quiz form fieldset label {
  min-width: 100px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 15px;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  opacity: 0.5;
}

.quiz form fieldset label.answer {
  opacity: 1;
}

.quiz form fieldset label.answer:hover,
.quiz form fieldset label.answer:active {
  background-color: #dbdef0;
  border-color: #dbdef0;
}

.radio-input:checked + label.answer,
.radio-input:focus + label.answer {
  background-color: #dbdef0;
  border-color: #dbdef0;
}

.correct {
  background-color: #94d7a2;
}

.wrong {
  background-color: #f8bcbc;
}

hr {
  margin-block: 30px;
  border: none;
  border-top: 1px solid #dbdef0;
  width: 100%;
}

form button {
  align-self: center;
  font-size: 1.6rem;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: 1px solid #4d5b9e;
  padding: 11px 22px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

form button:hover,
form button:focus {
  background-color: #232a50;
}

.result-section {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/***
   Styling the options form section 
***/

.form-api {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-api h2 {
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-api input,
.form-api select {
  color: inherit;
  font-family: inherit;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 1rem;
}

.form-api label {
  margin-bottom: 5px;
}

button.form-submit-btn {
  margin-top: 15px;
  align-self: flex-start;
  font-size: 1rem;
}

.saved,
.saved:active,
.saved:focus,
.saved:hover {
  background-color: #006c2c;
  color: #f5fff9;
  outline: none;
  border: 1px solid #006c2c;
}

.result-section span {
  font-size: 1.6rem;
}

@media screen and (width < 500px) {
  body {
    padding: 30px 35px;
  }

  section.start-menu > h1 {
    font-size: 3rem;
  }

  section.start-menu > button {
    margin-top: 1.133em;
    width: 95%;
    font-size: 1.6rem;
    padding: 0.625em 1.09375em;
  }

  .quiz form fieldset legend {
    font-size: 1.5rem;
    margin-bottom: 0.941em;
  }

  .quiz form fieldset label {
    padding: 8px 15px;
    font-size: 1rem;
  }

  .form-api input,
  .form-api select {
    font-size: 0.85rem;
  }

  form button {
    font-size: 1.2rem;
    padding: 11px 22px;
  }

  .result-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .result-section span {
    font-size: 1.3rem;
  }
}
